{{ define "main" }}

<div class="information-page">
    {{- partial "masthead-small.html" . -}}

    <div class="main main-raised">
        <div class="container">

            <div class="row">
                <div class="col text-center">

                    <h1>{{ .Page.Title }}</h1>

                    {{ if .Params.image }}
                    <div class="card card-blog">
                        <div class="card-header card-header-image">
                            <a href="#pablo">
                                <img src="{{ .Params.image }}" class="img-fluid" alt="">
                            </a>
                            <div class="colored-shadow" style="background-image: url('{{ .Params.image }}'); opacity: 1;"></div>
                        </div>

                        <div class="card-body">
                            <p class="">{{ .Params.imagecaption }}</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>

            <!-- Publication details and social media sharing icons. -->
            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
                <div class="col">
                    <p class="h6">
                        By {{ .Params.author }}<br />{{ .PublishDate.Format "January 2, 2006" }}
                    </p>
                </div>
                <div class="col text-end">
                    {{- partial "social-media-share.html" . -}}
                </div>
                <div class="col">
                    &nbsp;
                </div>
            </div>

            <!-- Spacer. -->
            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}
