{{ define "main" }}

<div class="information-page">
    {{- partial "masthead-small.html" . -}}

    <div class="main main-raised">
        <div class="container">

            <div class="row">
                <div class="col text-center">

                    <h1>{{ .Page.Title }}</h1>

                    {{ if .Params.image }}
                    <div class="card card-blog">
                        <div class="card-header card-header-image">
                            <a href="#pablo">
                                <img src="{{ .Params.image }}" class="img-fluid" alt="">
                            </a>
                            <div class="colored-shadow" style="background-image: url('{{ .Params.image }}'); opacity: 1;"></div>
                        </div>

                        <div class="card-body">
                            <p class="text-start">{{ .Params.imagecaption }}</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>

            <!-- Publication details and social media sharing icons. -->
            <div class="row">
                <div class="col text-start">
                    &nbsp;
                </div>
                <div class="col text-start align-middle">
                    <p class="h6 text-start">
                        By {{ .Params.author }}<br />{{ .PublishDate.Format "January 2, 2006" }}
                    </p>
                </div>
                <div class="col text-end align-middle">
                    {{- partial "social-media-share.html" . -}}
                </div>
                <div class="col text-start">
                    &nbsp;
                </div>
            </div>

            <!-- Spacer. -->
            <div class="row">
                <div class="col text-start">
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col text-start">
                    {{ .Content }}
                </div>
            </div>

            <!-- Spacer. -->
            <div class="row">
                <div class="col text-start">
                    <hr />
                </div>
            </div>

            <!-- Blog Tags. -->
            <div class="row">
                <div class="col text-start">
                    <p class="h6">
                        Discover more posts like this:<br />
                        {{ with .Params.tags }}
                        {{ range . }}
                        <a class="btn btn-round" href="/tags/{{ . | urlize }}">
                            {{ . }}
                        </a>
                        {{ end }}
                        {{ end }}
                    </p>
                </div>
            </div>

            <!-- Spacer. -->
            <div class="row">
                <div class="col text-start">
                    <hr />
                </div>
            </div>

            <!-- Next / Previous. -->
            <div class="row">
                <div class="col text-start">
                    &nbsp;
                </div>
                <div class="col text-start h6">
                    {{ with .PrevInSection }} Previous:<br><a href="{{.Permalink}}"> {{.Title}}</a>{{ end }}
                </div>
                <div class="col text-end h6">
                    {{ with .NextInSection }} Next:<br><a href="{{.Permalink}}"> {{.Title}}</a>{{ end }}
                </div>
                <div class="col text-start">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>

</div>

{{ end }}
