
<div class="col-md-6">
    <div class="info info-horizontal">
        <div class="icon icon-rose">
            <!-- HACK: Hack the style for now - do it right later. -->
            <i class="material-icons" style="font-size: 2rem; color: cornflowerblue;">{{ .icon }}</i>
        </div>
        <div class="description">
            <h4 class="info-title">
                {{ .title }}
            </h4>
            <h5>
                {{ .description }}
            </h5>
        </div>
    </div>
</div>
