
{{"<!-- START HEAD SECTION -->" | safeHTML}}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/apple-icon.png">
    <link rel="icon" href="/img/favicon.png">

    <title>{{ .Site.Title }}</title>

    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    
</head>
{{"<!-- END HEAD SECTION -->" | safeHTML}}
