
<div class="card col-sm-12 col-md-6 col-lg-4">
    <div class="card-header card-header-image">
        <a href="{{ .Permalink }}">
            {{ if .Params.image }}
            <img class="img img-raised" src="{{ .Params.image }}">
            {{ else }}
            <img class="img img-raised" src="/img/site/category/rain-forest.jpg">
            {{ end }}
        </a>
    </div>

    <div class="card-body">
        <h4 class="card-title">
            <a href="{{ .Permalink }}">
                {{ .Param "common-name" }} ({{ .Param "botanical-name" }})
            </a>
        </h4>
        <h6 class="card-subtitle">{{ .Param "genus" }}, {{ .Params.family }}</h6>
        <p class="card-text">
            {{ .Summary }}
            <a href="{{ .Permalink }}">Read More&nbsp;>></a>
        </p>
    </div>
</div>
