
<div class="col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto card card-plain card-blog">
    <div class="card-header card-header-image">
        <a href="{{ .Permalink }}/profile/{{ .profile }}/">
            {{ if .avatar }}
            <img class="img img-raised" src="{{ .avatar }}">
            {{ else }}
            <img class="img img-raised" src="/img/site/missing-image.jpg">
            {{ end }}
        </a>
    </div>

    <div class="card-body">
        <h6 class="card-category text-info"><a href="{{ .Permalink }}/profile/{{ .profile }}/">{{ .name }}</a></h6>
        <h5 class="card-title">{{ .position }}</h5>
        <p class="card-description">
            {{ .description }}
            <br /><a href="{{ .Permalink }}/profile/{{ .profile }}/">Read More&nbsp;>></a>
        </p>
    </div>
</div>
