
<div class="card col-sm-12 col-md-6 col-lg-4">
    <div class="card-header card-header-image">
        <a href="{{ .Permalink }}/profile/{{ .profile }}/">
            {{ if .avatar }}
            <img class="card-img-top" src="{{ .avatar }}">
            {{ else }}
            <img class="card-img-top" src="/img/site/missing-image.jpg">
            {{ end }}
        </a>
    </div>

    <div class="card-body">
        <h6 class="card-subtitle"><a href="{{ .Permalink }}/profile/{{ .profile }}/">{{ .name }}</a></h6>
        <h5 class="card-title">{{ .position }}</h5>
        <p class="card-text">
            {{ .description }}
            <br /><a href="{{ .Permalink }}/profile/{{ .profile }}/">Read More&nbsp;>></a>
        </p>
    </div>
</div>
