
{{"<!-- START SOCIAL MEDIA SECTION -->" | safeHTML}}

{{ if .github }}
<a href="https://github.com/{{ .github }}" class="btn" target="_blank">
    <i class="bi-github" style="font-size:20px"></i>
</a>
{{ end }}

{{ if .bitbucket }}
<a href="https://bitbucket.com/{{ .bitbucket }}" class="btn" target="_blank">
    <i class="bi-bucket-fill" style="font-size:20px"></i>
</a>
{{ end }}

{{ if .twitter }}
<a href="http://www.twitter.com/{{ .twitter}}/" class="btn" target="_blank">
    <i class="bi-twitter" style="font-size:20px"></i>
</a>
{{ end }}

{{ if .youtube }}
<a href="https://www.youtube.com/{{ .youtube }}/" class="btn" target="_blank">
    <i class="bi-youtube" style="font-size:20px"></i>
</a>
{{ end }}

{{ if .facebook }}
<a href="http://www.facebook.com/{{ .facebook }}/" class="btn" target="_blank">
    <i class="bi-facebook" style="font-size:20px"></i>
</a>
{{ end }}

{{ if .linkedin }}
<a href="https://www.linkedin.com/in/{{ .linkedin }}/" class="btn" target="_blank">
    <i class="bi-linkedin" style="font-size:20px"></i>
</a>
{{ end }}

{{ if .pinterest }}
<a href="https://www.pinterest.com/{{ .pinterest }}/" class="btn" target="_blank">
    <i class="bi-pinterest" style="font-size:20px"></i>
</a>
{{ end }}

{{"<!-- END SOCIAL MEDIA SECTION -->" | safeHTML}}
