
{{"<!-- START SOCIAL MEDIA SECTION -->" | safeHTML}}

{{ with $.Site.Params.social.github }}
<a href="http://www.github.com/{{ $.Site.Params.social.github }}" class="btn" target="_blank">
    <i class="bi-github" style="font-size:32px"></i></a>
{{ end }}

{{ with $.Site.Params.social.facebook }}
<a href="https://www.facebook.com/sharer/sharer.php?u={{ $.Site.Params.social.facebook }}" class="btn" target="_blank">
    <i class="bi-facebook" style="font-size:32px"></i>
</a>
{{ end }}

{{"<!-- END SOCIAL MEDIA SECTION -->" | safeHTML}}
