{{ define "main" }}

<div class="container">
    {{- partial "masthead-small.html" . -}}

    <div class="container">
        <div class="row">
            
            <!-- If there's any content, it can go here, in it's own row. -->
            {{ if .Content }}
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                {{ .Content }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}

            {{"<!-- START PROFILES SECTION -->" | safeHTML}}

            {{ range .Site.Data.profile.person }}              
                {{- partial "profile-card.html" . -}}
            {{ end }}

            {{"<!-- END POSTS PROFILES -->" | safeHTML}}
        </div>
    </div>
</div>

{{ end }}
