{{ define "main" }}

<div class="container">
    {{- partial "masthead-small.html" . -}}

    <div class="container">

        {{ range (where .Site.Data.profile.person "profile" .Params.profile) }}

        <div class="row">
            <div class="col-12">
                <div class="col-12">
                    <img src="{{ .avatar }}" class="img-fluid" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                </div>

                <div class="col-12">
                    <h3 class="title">{{ .name }}</h3>
                    <h6>{{ .position }}</h6>

                    <p>{{- partial "social-media-small.html" . -}}</p>

                    <h5>&quot;{{ .description }}&quot;</h5>
                </div>
            </div>
        </div>

        {{ end }}

        <!-- Main Content -->
        <div class="section section-text">
            <div class="row">
                <div class="col">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}
