{{ define "main" }}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron text-center">
                <h1>{{ .Page.Title }}</h1>
                <p class="lead">Resize this responsive page to see the effect!</p>
            </div>
        </div>
    </div>

    <!-- Content from the _index.html -->
    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <p> {{ .Page.Content }}</p>
                </div>
            </div>
        </div>

        <!-- List of characters -->
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">Characters</h4>

                    {{ range where (.Pages.ByParam "sort-order") "Type" "character" }}
                    <article>
                        <a class="card-link" href="{{ .Permalink }}">
              {{ .Title }}
            </a>

                        <div>
                            {{ if .Params.summary }}
                            <p class="card-text text-left">{{ .Params.summary }}</p>
                            {{ else }}
                            <p class="card-text text-left">Missing a summary. Please add one to the markdown.</p>
                            {{ end }}
                        </div>
                    </article>
                    {{ end }}
                </div>
            </div>
        </div>

        <!-- List of chapters -->
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">Chapters</h4>

                    {{ range where (.Pages.ByParam "sort-order") "Type" "chapter"}}
                    <article>
                        <a class="card-link" href="{{ .Permalink }}">{{ .Title }}</a> {{ if .Params.subtitle }}
                        <p class="card-text text-left">{{ .Params.subtitle }}</p>
                        {{ end }}

                        <div>
                            {{ if .Params.summary }}
                            <p class="card-text text-left">{{ .Params.summary }}</p>
                            {{ else }}
                            <p class="card-text text-left">Missing a summary. Please add one to the markdown.</p>
                            {{ end }}
                        </div>
                    </article>
                    {{ end }}
                </div>
            </div>
        </div>

    </div>
</div>

{{ end }}